@font-face{
    font-family: "Fredoka";
    src:url("./Fredoka-Regular.ttf")
}

#select_game {
    font-family: "Fredoka";
    margin-top: 0;
    display: flex;
    align-content: center;
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(117%,-10%);
}

#library {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Fredoka";
    font-weight: bold;
    color: rgb(137, 135, 235);
    text-align: center;
    font-size: 50px;
}

.list_title {
    /* width: 1000px;
    height: 168px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title {
    /* float: left; */
    width: 136px;
    height: 168px;
    margin: 0 10px;
}

#add_make_10 {
    padding: 5px;
    text-decoration: none;
    color: rgb(173,173,173);
}
#add_make_10:hover {
    background-color: rgba(179, 179, 185, 0.555);
    transition: 1s;
    opacity: 1;
    transform: translateY(-10px);
}

img {
    /* height: auto;
    width: auto; */
}
.line{
    width: 2px;
    height: 80px;
    background-color: rgba(236, 231, 231, 0.959);
    transform: translateY(-12px);
}

#heading {
    font-family: "Fredoka";
    font-weight: bold;
    color: rgb(133,140,156);
    text-align: left;
    transform: translateX(187px);
    font-size: 35px;
}